---
import JavaScript from "./icons/JavaScript.astro"
import CSS from "./icons/CSS.astro"
import PHP from "./icons/PHP.astro"
import MySQL from "./icons/MySQL.astro"
import ReactJS from "./icons/ReactJS.astro"
import MercadoPago from "./icons/MercadoPago.astro"
import HTML from "./icons/HTML.astro"
import Mongo from "./icons/Mongo.astro"
import Node from "./icons/Node.astro"
import Express from "./icons/Express.astro"
import LinkButton from "./LinkButton.astro"
import GitHub from "./icons/GitHub.astro"
import Web from "./icons/Web.astro"
import AstroIcon from "./icons/AstroIcon.astro"

const TAGS = {
    JAVASCRIPT: {
        name: "JavaScript",
        class: "bg-[#696964] text-white",
        icon: JavaScript
    },
    CSS: {
        name: "CSS",
        class: "bg-[#696964] text-white",
        icon: CSS
    },
    PHP: {
        name: "CodeIgniter",
        class: "bg-[#696964] text-white",
        icon: PHP
    },
    MYSQL: {
        name: "MySQL",
        class: "bg-[#696964] text-white",
        icon: MySQL
    },
    REACTJS: {
        name: "ReactJS",
        class: "bg-[#696964] text-white",
        icon: ReactJS
    },
    MERCADOPAGO: {
        name: "MercadoPago",
        class: "bg-[#696964] text-white",
        icon: MercadoPago
    },
    HTML: {
        name: "HTML",
        class: "bg-[#696964] text-white",
        icon: HTML
    },
    MONGO: {
        name: "MongoDB",
        class: "bg-[#696964] text-white",
        icon: Mongo
    },
    NODE: {
        name: "NodeJS",
        class: "bg-[#696964] text-white",
        icon: Node
    }, 
    EXPRESS: {
        name: "Express",
        class: "bg-[#696964] text-white",
        icon: Express
    },
    ASTRO: {
        name: "Astro",
        class: "bg-[#696964] text-white",
        icon: AstroIcon
    }
}
const PROJECTS  = [
    // {
    //     title: 'JL Herramientas - Tienda Online para Ferretería - Desarrollo para SoftCre.',
    //     description: `Desarrollo de frontend y funcionalidades con conexión a backend (Carrito, formularios, checkout, etc).
    //     Se implementó pasarela de pagos con API de MERCADO PAGO.`,
    //     link: 'highlight',
    //     github: 'https://github.com/Juanchobostero/highlight',
    //     image: '/projects/project1.webp',
    //     tags: [TAGS.PHP, TAGS.HTML, TAGS.JAVASCRIPT, TAGS.CSS, TAGS.MYSQL, TAGS.MERCADOPAGO],
    //     off: true
    // },
    // {
    //     title: `Tienda Online para Joyería "O'lalá Mayoristas" - Corrientes, Argentina - Desarrollo para SoftCre.`,
    //     description: `Desarrollo de frontend (aplicándose un rediseño general del sitio previamente requerido) y funcionalidades con conexión a backend (Carrito, formularios, etc).`,
    //     link: '/olala',
    //     github: 'https://github.com/softcre/olala',
    //     image: '/projects/olala.webp',
    //     tags: [TAGS.PHP, TAGS.HTML, TAGS.JAVASCRIPT, TAGS.CSS, TAGS.MYSQL],
    //     off: true
    // },
    {
        title: 'Ecommerce - Stack MERN.',
        description: 'Desarrollo basado en curso de stack MERN en plataforma UDEMY. Se implementó pasarela de pagos utilizando API de MERCADO PAGO',
        link: 'https://ecommerce-reactjs-chi.vercel.app/',
        github: 'https://github.com/Juanchobostero/ecommerce-reactjs',
        image: '/projects/ecommerce.webp',
        tags: [TAGS.MONGO, TAGS.EXPRESS, TAGS.REACTJS, TAGS.NODE, TAGS.HTML, TAGS.CSS, TAGS.MERCADOPAGO],
        off: false
    },
    {
        title: 'STACK GAME 2D',
        description: 'Desarrollo de juego en 2D basado en app de midudev. Se utilizó el Framework ASTRO para su componentización & despliegue.',
        link: 'https://stack-game-2d.vercel.app/',
        github: 'https://github.com/Juanchobostero/stack-game-2d',
        image: '/projects/stack-game.webp',
        tags: [TAGS.NODE, TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT, TAGS.ASTRO],
        off: false
    },
    {
        title: 'Generador código QR',
        description: 'Desarrollo de generador de código QR, utilizando el Framework ASTRO, Reactjs y TailwindCSS.',
        link: 'https://qr-code-generator-three-fawn.vercel.app/',
        github: 'https://github.com/Juanchobostero/qr-code-generator',
        image: '/projects/qr-generator.webp',
        tags: [TAGS.NODE, TAGS.REACTJS, TAGS.CSS, TAGS.ASTRO],
        off: false
    },
]
---

<section class="flex flex-col gap-y-16">
{
    PROJECTS.map(({ title, description, tags, github, image, link, off }) => (
        <article class="mb-10">
            <h3 class="text-2xl font-semibold text-yellow-200 mb-2">{title}</h3>
            <p class="text-lg mb-4 text-pretty">{description}</p>
            <ul class="flex gap-x-4 gap-y-2 flex-row mb-2 mt-6 flex-wrap">
                {
                    tags.map((tag) => (
                        <li>
                            <span class={`flex gap-x-1 rounded-s text-sm ${tag.class} py-1 px-2 cursor-pointer`}>
                                <tag.icon class="size-5 cursor-pointer rounded-s" />
                                {tag.name}
                            </span>
                        </li>
                    ))
                }
            </ul>
            <img 
                class="rounded shadow-2xl shadow-white/10 object-cover"
                src={image} 
                alt={`Captura de pantalla del proyecto ${image}`} 
            />

            <footer class="flex gap-x-4 items-end justify-start mt-4">
                {github && (
                    <LinkButton href={github}>
                    <GitHub class="size-6" />
                    Ver código fuente
                    </LinkButton>
                )}
                {
                    off ? null : (
                        <LinkButton href={link}>
                            <Web class="sixe-6" />
                            Ir al sitio web
                        </LinkButton>
                    )
                }

                    <LinkButton href={link}>
                        <Web class="sixe-6" />
                        Ver más
                    </LinkButton>
                
            </footer>
        </article>
    ))
}

</section>

<style>
    @keyframes reveal {
		from {
			opacity: 0;
			transform: 0 100px;
		}
		to {
			opacity: 1;
			transform: 0 0;
		}
	}

	article {
		animation: reveal both;
		animation-timeline: view();
		animation-range: entry 20% cover 30%;
	}
</style>